@media (min-width: 768px) {
    .con-sidebar {
        display: grid;
        grid-template-columns: 3fr 1fr;
        column-gap: 4rem;
        grid-auto-flow: column;
    }
    aside {
        grid-column: 2 / 3;
        
    }
    
}